@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.logo-4 h3 {
    color: white;
    font-weight: 300;
    font-size: 28px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
}

.logo-holder {
  text-align:center;
  background-color:black;
  float: left;
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('writing.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
