<h1 class="text-center mt-4">Edit category</h1>

<div class="container">
  <div class="row justify-content-center">
    <%= render 'form' %>
    <%= link_to "[ Cancel and return to category details ]", category_path(@category), class: "text-info" %>
  </div>
</div>
